body {
  background: #e6ffff;
  font-family: sans-serif;
  margin: 0;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
}
.navi li {
  float: right;
  border-right:1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.navi li a {
  display: block;
  color: white;
  text-decoration: none;
}
li.left {
	float: left;
	border-right: none;
}

.container {
  padding-top: 10px;
}

.products {
  border: 1px solid #ff8080;
  border-radius: 5px;
  background-color: #e0e0d1;
  padding: 16px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 5px;
  border: 1px solid #ff8080;
}

.table {
  margin: 0px auto;
  float: none;
}

.button {
  background: #00ff00;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:visited {
  text-decoration: none;
  color: white;
}
.button:hover {
  background: #7fa9ff;
  text-decoration: none;
  color: white;
}
.button:active {
  text-decoration: none;
  color: white;
}
.btn-danger {
  font-size: 12px;
  padding: 3px;
}
.btn-danger:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h3 {
  margin-top: 0px;
}

.info p{
  text-align: justify;
}

.img-responsive {
  width: 220px;
  height: 220px;
}
